{# pass plugin paramters via DOM to calendar.js #}

<div id='calendar'></div>
<div id='legend'></div>
            
<div id='weeknums' style='display:none;'>{{ config.plugins.fullcalendar.weekNumbers }}</div>
<div id='cfgLocale' style='display:none;'>{{ config.plugins.fullcalendar.locale }}</div>
<div id='cfgFilestring' style='display:none;'>{{ icsfile }}</div>
<div id='BgColstring' style='display:none;'>{{ config.plugins.fullcalendar.colors }}</div>
<div id='CorsUrl' style='display:none;'>{{ config.plugins.fullcalendar.cors_api_url }}</div>
<div id='showlegend' style='display:none;'>{{ config.plugins.fullcalendar.showlegend }}</div>
<div id='tzoffset' style='display:none;'>{{ config.plugins.fullcalendar.tz_offset }}</div>
