{# pass plugin paramters via DOM to calendar.js #}

<div id='calendar'></div>
<div id='legend'></div>

<div id='weeknums' style='display:none;'>{{ config.plugins.fullcalendar.weekNumbers }}</div>
<div id='cfgFilestring' style='display:none;'>{{ icsfile }}</div>
<div id='BgColstring' style='display:none;'>{{ config.plugins.fullcalendar.colors }}</div>
<div id='CorsUrl' style='display:none;'>{{ config.plugins.fullcalendar.cors_api_url }}</div>
<div id='BaseUrl' style='display:none;'>{{ base_url_absolute }}</div>
<div id='showlegend' style='display:none;'>{{ config.plugins.fullcalendar.showlegend }}</div>
<div id='tzoffset' style='display:none;'>{{ config.plugins.fullcalendar.tz_offset }}</div>
<div id='useIcsTimezone' style='display:none;'>{{ config.plugins.fullcalendar.useIcsTimezone }}</div>
<div id='enableDescPopup' style='display:none;'>{{ config.plugins.fullcalendar.enableDescPopup }}</div>
<div id='tzoffset_single' style='display:none;'>{{ config.plugins.fullcalendar.tz_offset_single }}</div>
<div id='tzoffset_minutes' style='display:none;'>{{ config.plugins.fullcalendar.tz_offset_minutes }}</div>
<div id='tzoffset_recur' style='display:none;'>{{ config.plugins.fullcalendar.tz_offset_rec }}</div>
<div id='1stweekday' style='display:none;'>{{ config.plugins.fullcalendar.firstWeekDay }}</div>
